
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{tco-admin/layout-admin/index :: dynamic(~{::main})}">
<body>
<main>


<!-- CONTENT WRAPPER -->
<div class="ec-content-wrapper">
    <div class="content">
        <!-- Top Statistics -->
        <div class="row">
            <div class="col-xl-3 col-sm-6 p-b-15 lbl-card">
                <div class="card card-mini dash-card card-1">
                    <div class="card-body">
                        <h2 class="mb-1">53</h2>
                        <p>Tổng số đơn hàng</p>
                        <span class="mdi mdi-account-arrow-left"></span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 p-b-15 lbl-card">
                <div class="card card-mini dash-card card-2">
                    <div class="card-body">
                        <h2 class="mb-1">503</h2>
                        <p>Lượt truy cập </p>
                        <span class="mdi mdi-account-clock"></span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 p-b-15 lbl-card">
                <div class="card card-mini dash-card card-3">
                    <div class="card-body">
                        <h2 class="mb-1">3</h2>
                        <p>Đơn hàng đã giao</p>
                        <span class="mdi mdi-package-variant"></span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 p-b-15 lbl-card">
                <div class="card card-mini dash-card card-4">
                    <div class="card-body">
                        <h2 class="mb-1">31.500.000Đ</h2>
                        <p>Thu nhập</p>
                        <span class="mdi mdi-currency-usd"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- <div class="col-xl-8 col-md-12 p-b-15"> 
                <div id="user-acquisition" class="card card-default">
                    <div class="card-header">
                        <h2>Doanh số</h2>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-tabs nav-style-border justify-content-between justify-content-lg-start border-bottom"
                            role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#todays" role="tab"
                                    aria-selected="true">Theo ngày</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#monthly" role="tab"
                                    aria-selected="false">Theo tháng </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#yearly" role="tab"
                                    aria-selected="false">Theo năm</a>
                            </li>
                        </ul>
                        <div class="tab-content pt-4" id="salesReport">
                            <div class="tab-pane fade show active" id="source-medium" role="tabpanel">
                                <div class="mb-6" style="max-height:247px">
                                    <canvas id="acquisition" class="chartjs2"></canvas>
                                    <div id="acqLegend" class="customLegend mb-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="col-xl-4 col-md-12 p-b-15">
                <!-- Doughnut Chart -->
                
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 col-md-12 p-b-15">
                <!-- User activity statistics -->
                <div class="card card-default">
                    <div class="card-header justify-content-center">
                        <h2>Tổng quan đơn hàng</h2>
                    </div>
                    <div class="card-body">
                        <canvas id="doChart"></canvas>
                    </div>
                    <a href="#" class="pb-5 d-block text-center text-muted"><i
                            class="mdi mdi-download mr-2"></i> Download overall report</a>
                    <div class="card-footer d-flex flex-wrap bg-white p-0">
                        <div class="col-6">
                            <div class="p-20">
                                <ul class="d-flex flex-column justify-content-between">
                                    <li class="mb-2"><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
                                            style="color: #4c84ff"></i>Đơn hàng chờ xác nhận</li>
                                    <li class="mb-2"><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
                                            style="color: #80e1c1 "></i>Đơn hàng đã đặt thành công</li>
                                    <li><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
                                            style="color: #ff7b7b "></i>Đơn hàng bị hủy</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 border-left">
                            <div class="p-20">
                                <ul class="d-flex flex-column justify-content-between">
                                    <li class="mb-2"><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
                                            style="color: #8061ef"></i>Đơn hàng đang vận chuyển</li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                   

            </div>
            <div class="col-xl-4 col-md-12 p-b-15">
                <div class="card card-default">
                    <div class="card-header flex-column align-items-start">
                        <h2>Số lượng khách hàng đăng kí</h2>
                    </div>
                    <div class="card-body">
                        <canvas id="currentUser" class="chartjs"></canvas>
                    </div>
                    <div class="card-footer d-flex flex-wrap bg-white border-top">
                        <a href="#" class="text-uppercase py-3">Tổng quan</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 col-12 p-b-15">
                <!-- World Chart -->
                <div class="card card-default" id="analytics-country">
                    <div class="card-header justify-content-between">
                        <h2>Địa điểm có lượt mua cao</h2>
                        <div class="date-range-report ">
                            <span></span>
                        </div>
                    </div>
                    
                    <div class="border-top mt-3">
                        <div class="row no-gutters">
                            <div class="col-lg-6">
                                <div class="world-data-chart border-bottom pt-15px pb-15px">
                                    <canvas id="hbar1" class="chartjs"></canvas>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="world-data-chart pt-15px pb-15px">
                                    <canvas id="hbar2" class="chartjs"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex flex-wrap bg-white">
                        <a href="#" class="text-uppercase py-3">Tổng quan</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-12 p-b-15">
                <!-- Top Sell Table -->
                <div class="card card-default Sold-card-table">
                    <div class="card-header justify-content-between">
                        <h2>Sản phẩm có doanh số tăng </h2>
                        <div class="tools">
                            <button class="text-black-50 mr-2 font-size-20"><i
                                    class="mdi mdi-cached"></i></button>
                           
                        </div>
                    </div>
                    <div class="card-body py-0 compact-units" data-simplebar style="height: 534px;">
                        <table class="table ">
                            <tbody>
                                <tr>
                                    <td class="text-dark">Mô hình Luffy</td>
                                    <td class="text-center">9</td>
                                    <td class="text-right">33% <i
                                            class="mdi mdi-arrow-up-bold text-success pl-1 font-size-12"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-dark">Mô hình DC</td>
                                    <td class="text-center">6</td>
                                    <td class="text-right">150% <i
                                            class="mdi mdi-arrow-up-bold text-success pl-1 font-size-12"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-dark">Mô hình Marvel</td>
                                    <td class="text-center">3</td>
                                    <td class="text-right">50% <i
                                            class="mdi mdi-arrow-up-bold text-success pl-1 font-size-12"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-dark">Mô hình Custom</td>
                                    <td class="text-center">7</td>
                                    <td class="text-right">150% <i
                                            class="mdi mdi-arrow-up-bold text-success pl-1 font-size-12"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-dark">Mô hình Anime</td>
                                    <td class="text-center">10</td>
                                    <td class="text-right">300% <i
                                            class="mdi mdi-arrow-down-bold text-danger pl-1 font-size-12"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-dark">Mô hình Goku</td>
                                    <td class="text-center">5</td>
                                    <td class="text-right">100% <i
                                            class="mdi mdi-arrow-up-bold text-success pl-1 font-size-12"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-dark">Mô hình Custom</td>
                                    <td class="text-center">6</td>
                                    <td class="text-right">150% <i
                                            class="mdi mdi-arrow-up-bold text-success pl-1 font-size-12"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-dark">Mô hình Zoro</td>
                                    <td class="text-center">18</td>
                                    <td class="text-right">160% <i
                                            class="mdi mdi-arrow-up-bold text-success pl-1 font-size-12"></i>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>

                    </div>
                    <div class="card-footer d-flex flex-wrap bg-white">
                        <a href="#" class="text-uppercase py-3">View Report</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 p-b-15">
                <!-- Recent Order Table -->
                <div class="card card-table-border-none card-default recent-orders" id="recent-orders">
                    <div class="card-header justify-content-between">
                        <h2>Đơn hàng gần đây</h2>
                        <div class="date-range-report">
                            <span></span>
                        </div>
                    </div>
                    <div class="card-body pt-0 pb-5">
                        <table class="table card-table table-responsive table-responsive-large"
                            style="width:100%">
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Product Name</th>
                                    <th class="d-none d-lg-table-cell">Units</th>
                                    <th class="d-none d-lg-table-cell">Order Date</th>
                                    <th class="d-none d-lg-table-cell">Order Cost</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>44</td>
                                    <td>
                                        <a class="text-dark" href="#">Transformers DA04 Ironhide</a>
                                    </td>
                                    <td class="d-none d-lg-table-cell">1 Unit</td>
                                    <td class="d-none d-lg-table-cell">05/12/2022</td>
                                    <td class="d-none d-lg-table-cell">1.540.000đ</td>
                                    <td>
                                        <span class="badge badge-success">Hoàn Thành</span>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown show d-inline-block widget-dropdown">
                                            <a class="dropdown-toggle icon-burger-mini" href="#"
                                                role="button" id="dropdown-recent-order1"
                                                data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false" data-display="static"></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li class="dropdown-item">
                                                    <a href="#">View</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="#">Remove</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>45</td>
                                    <td>
                                        <a class="text-dark" href="#"> Ironhide BMB LS09 - AW01</a>
                                    </td>
                                    <td class="d-none d-lg-table-cell">1 Unit</td>
                                    <td class="d-none d-lg-table-cell">03/12/2022</td>
                                    <td class="d-none d-lg-table-cell">4.370.000đ</td>
                                    <td>
                                        <span class="badge badge-primary">Đã xử lý</span>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown show d-inline-block widget-dropdown">
                                            <a class="dropdown-toggle icon-burger-mini" href="#"
                                                role="button" id="dropdown-recent-order2"
                                                data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false" data-display="static"></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li class="dropdown-item">
                                                    <a href="#">View</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="#">Remove</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>46</td>
                                    <td>
                                        <a class="text-dark" href="#">Luffy gear 5</a>
                                    </td>
                                    <td class="d-none d-lg-table-cell">1 Unit</td>
                                    <td class="d-none d-lg-table-cell">01/12/2022</td>
                                    <td class="d-none d-lg-table-cell">2.300.000đ</td>
                                    <td>
                                        <span class="badge badge-warning">Chưa có hàng</span>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown show d-inline-block widget-dropdown">
                                            <a class="dropdown-toggle icon-burger-mini" href="#"
                                                role="button" id="dropdown-recent-order3"
                                                data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false" data-display="static"></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li class="dropdown-item">
                                                    <a href="#">View</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="#">Remove</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>47</td>
                                    <td>
                                        <a class="text-dark" href="#"> Kiếm khách không gian</a>
                                    </td>
                                    <td class="d-none d-lg-table-cell">2 Units</td>
                                    <td class="d-none d-lg-table-cell">29/11/2022</td>
                                    <td class="d-none d-lg-table-cell">3.000.000đ</td>
                                    <td>
                                        <span class="badge badge-success">Hoàn Thành</span>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown show d-inline-block widget-dropdown">
                                            <a class="dropdown-toggle icon-burger-mini" href="#"
                                                role="button" id="dropdown-recent-order4"
                                                data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false" data-display="static"></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li class="dropdown-item">
                                                    <a href="#">View</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="#">Remove</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>48</td>
                                    <td>
                                        <a class="text-dark" href="#">Iron Man</a>
                                    </td>
                                    <td class="d-none d-lg-table-cell">1 Unit</td>
                                    <td class="d-none d-lg-table-cell">22/11/2022</td>
                                    <td class="d-none d-lg-table-cell">2.300.000đ</td>
                                    <td>
                                        <span class="badge badge-danger">Đã hủy</span>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown show d-inline-block widget-dropdown">
                                            <a class="dropdown-toggle icon-burger-mini" href="#"
                                                role="button" id="dropdown-recent-order5"
                                                data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false" data-display="static"></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li class="dropdown-item">
                                                    <a href="#">View</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="#">Remove</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-5">
                <!-- New Customers -->
                <div class="card ec-cust-card card-table-border-none card-default">
                    <div class="card-header justify-content-between ">
                        <h2>Khách hàng mới</h2>
                        <div>
                            <button class="text-black-50 mr-2 font-size-20">
                                <i class="mdi mdi-cached"></i>
                            </button>
                            <div class="dropdown show d-inline-block widget-dropdown">
                                <a class="dropdown-toggle icon-burger-mini" href="#" role="button"
                                    id="dropdown-customar" data-bs-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" data-display="static">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item"><a href="#">Action</a></li>
                                    <li class="dropdown-item"><a href="#">Another action</a></li>
                                    <li class="dropdown-item"><a href="#">Something else here</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0 pb-15px">
                        <table class="table ">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="media-image mr-3 rounded-circle">
                                                <a href="profile.html"><img
                                                        class="profile-img rounded-circle w-45"
                                                        src="assets-admin/img/user/u1.jpg"
                                                        alt="customer image"></a>
                                            </div>
                                            <div class="media-body align-self-center">
                                                <a href="profile.html">
                                                    <h6 class="mt-0 text-dark font-weight-medium">ƯngVương</h6>
                                                </a>
                                                <small>@fpt.edu</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>5 Đơn hàng</td>
                                    <td class="text-dark d-none d-md-block">11.500.000đ</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="media-image mr-3 rounded-circle">
                                                <a href="profile.html"><img
                                                        class="profile-img rounded-circle w-45"
                                                        src="assets-admin/img/user/u2.jpg"
                                                        alt="customer image"></a>
                                            </div>
                                            <div class="media-body align-self-center">
                                                <a href="profile.html">
                                                    <h6 class="mt-0 text-dark font-weight-medium">ĐăngKhoa</h6>
                                                </a>
                                                <small>@fpt.edu</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>3 Đơn</td>
                                    <td class="text-dark d-none d-md-block">5.000.000đ</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="media-image mr-3 rounded-circle">
                                                <a href="profile.html"><img
                                                        class="profile-img rounded-circle w-45"
                                                        src="assets-admin/img/user/u3.jpg"
                                                        alt="customer image"></a>
                                            </div>
                                            <div class="media-body align-self-center">
                                                <a href="profile.html">
                                                    <h6 class="mt-0 text-dark font-weight-medium">ThịnhHưng</h6>
                                                </a>
                                                <small>@fpt.edu</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>5 Order</td>
                                    <td class="text-dark d-none d-md-block">9.500.000đ</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="media-image mr-3 rounded-circle">
                                                <a href="profile.html"><img
                                                        class="profile-img rounded-circle w-45"
                                                        src="assets-admin/img/user/u4.jpg"
                                                        alt="customer image"></a>
                                            </div>
                                            <div class="media-body align-self-center">
                                                <a href="profile.html">
                                                    <h6 class="mt-0 text-dark font-weight-medium">ĐứcPhát</h6>
                                                </a>
                                               <small>@fpt.edu</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>2 Đơn hàng</td>
                                    <td class="text-dark d-none d-md-block">3.000.000đ</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="media-image mr-3 rounded-circle">
                                                <a href="profile.html"><img
                                                        class="profile-img rounded-circle w-45"
                                                        src="assets-admin/img/user/u5.jpg"
                                                        alt="customer image"></a>
                                            </div>
                                            <div class="media-body align-self-center">
                                                <a href="profile.html">
                                                    <h6 class="mt-0 text-dark font-weight-medium">Tiến</h6>
                                                </a>
                                               <small>@fpt.edu</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>2 Đơn hàng</td>
                                    <td class="text-dark d-none d-md-block">1.500.000đ</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="media-image mr-3 rounded-circle">
                                                <a href="profile.html"><img
                                                        class="profile-img rounded-circle w-45"
                                                        src="assets-admin/img/user/u3.jpg"
                                                        alt="customer image"></a>
                                            </div>
                                            <div class="media-body align-self-center">
                                                <a href="profile.html">
                                                    <h6 class="mt-0 text-dark font-weight-medium">Thành</h6>
                                                </a>
                                              <small>@fpt.edu</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>0 Đơn hàng</td>
                                    <td class="text-dark d-none d-md-block">đ</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-xl-7">
                <!-- Top Products -->
                <div class="card card-default ec-card-top-prod">
                    <div class="card-header justify-content-between">
                        <h2>Top Sản Phẩm</h2>
                        <div>
                            <button class="text-black-50 mr-2 font-size-20"><i
                                    class="mdi mdi-cached"></i></button>
                            <div class="dropdown show d-inline-block widget-dropdown">
                                <a class="dropdown-toggle icon-burger-mini" href="#" role="button"
                                    id="dropdown-product" data-bs-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" data-display="static">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item"><a href="#">Update Data</a></li>
                                    <li class="dropdown-item"><a href="#">Detailed Log</a></li>
                                    <li class="dropdown-item"><a href="#">Statistics</a></li>
                                    <li class="dropdown-item"><a href="#">Clear Data</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body mt-10px mb-10px py-0">
                        <div class="row media d-flex pt-15px pb-15px">
                            <div class="col-lg-3 col-md-3 col-2 media-image align-self-center rounded">
                                <a href="#"><img src="assets-admin/img/products/p1.jpg"
                                        alt="customer image"></a>
                            </div>
                            <div class="col-lg-9 col-md-9 col-10 media-body align-self-center ec-pos">
                                <a href="#">
                                    <h6 class="mb-10px text-dark font-weight-medium">One Pice Luffy Gear 5</h6>
                                </a>
                                <p class="float-md-right sale"><span class="mr-2">58</span>đã bán</p>
                                <p class="d-none d-md-block">Giảm giá sốc ưu đãi dịp tết!Duy nhất trong năm!</p>
                                <p class="mb-0 ec-price">
                                    <span class="text-dark">3.090.000đ</span>
                                    <del>3.500.000đ</del>
                                </p>
                            </div>
                        </div>
                        <div class="row media d-flex pt-15px pb-15px">
                            <div class="col-lg-3 col-md-3 col-2 media-image align-self-center rounded">
                                <a href="#"><img src="assets-admin/img/products/p2.jpg"
                                        alt="customer image"></a>
                            </div>
                            <div class="col-lg-9 col-md-9 col-10 media-body align-self-center ec-pos">
                                <a href="#">
                                    <h6 class="mb-10px text-dark font-weight-medium">Mô hinh simp chúa</h6>
                                </a>
                                <p class="float-md-right sale"><span class="mr-2">20</span>đã bán</p>
                                <p class="d-none d-md-block">Giảm giá sốc ưu đãi dịp tết!Duy nhất trong năm!</p>
                                <p class="mb-0 ec-price">
                                    <span class="text-dark">1.990.000d</span>
                                    <del>2.300.000đ</del>
                                </p>
                            </div>
                        </div>
                        <div class="row media d-flex pt-15px pb-15px">
                            <div class="col-lg-3 col-md-3 col-2 media-image align-self-center rounded">
                                <a href="#"><img src="assets-admin/img/products/p3.jpg"
                                        alt="customer image"></a>
                            </div>
                            <div class="col-lg-9 col-md-9 col-10 media-body align-self-center ec-pos">
                                <a href="#">
                                    <h6 class="mb-10px text-dark font-weight-medium">Transformers Dark of the Moon Film Bumblebee New</h6>
                                </a>
                                <p class="float-md-right sale"><span class="mr-2">10</span>đã bán</p>
                                <p class="d-none d-md-block">Giảm giá sốc ưu đãi dịp tết!Duy nhất trong năm!</p>
                                <p class="mb-0 ec-price">
                                    <span class="text-dark">8.500.000đ</span>
                                    <del>7.990.000đ</del>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Content -->
</div> <!-- End Content Wrapper -->



</main>   
</body>
</html>