<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{tco-admin/layout-admin/index :: dynamic(~{::main})}">
<body>
	<main ng-app="category-app" ng-controller="category-ctrl" th:object="${categoryForm}">
		<!-- CONTENT WRAPPER -->
		<div class="ec-content-wrapper">
			<div class="content">
				<div
					class="breadcrumb-wrapper breadcrumb-wrapper-2 breadcrumb-contacts">
					<h1>Mã thể loại</h1>
					<p class="breadcrumbs">
						<span><a href="/admin">Thống kê</a></span> <span><i
							class="mdi mdi-chevron-right"></i></span>Mã thể loại
					</p>
				</div>
				<div class="row">
					<div class="col-xl-4 col-lg-12">
						<div class="ec-cat-list card card-default mb-24px">
							<div class="card-body">
								<div class="ec-cat-form">
									<h4>Thêm mới</h4>
									<div class="card-body">
									<h6>[[${message}]]</h6>
									<div th:text = ${errorMessage}></div>
									<form th:action="@{/tco-admin/category}" enctype="multipart/form-data" method="post">
										<div class="row ec-vendor-uploads">
											<div class="ec-vendor-img-upload">
												<div class="ec-vendor-main-img">
												
													<div class="avatar-upload">
													<div class="avatar-edit">
														<input type='file' name="imageIcon" id="imageUpload" class="ec-image-upload"
															accept=".png, .jpg, .jpeg" onchange="angular.element(this).scope().imageChanged(this.files)"/>
														<label for="imageUpload"><img th:src="@{/assets-admin/img/icons/edit.svg}"
																class="svg_img header_svg" alt="edit" /></label>
													</div>
													<div class="avatar-preview ec-preview">
														<div class="imagePreview ec-div-preview">
															<img class="ec-image-preview"
																th:src="@{|/images/category/*{icon}|}"
																alt="edit" />
														</div>
													</div>
												</div>
												</div>
											</div>
											<div class="form-group row">
											
												<label for="text" class="col-12 col-form-label">ID</label>
												<div class="col-12">
													<input th:if = "*{id} == null" th:field = *{id} id="category_id" name="text"
														class="form-control" type="text">
													<input th:if = "*{id} != null" readonly th:field = *{id} id="category_id" name="text"
														class="form-control" type="text">
													<h6 th:errors = "*{id}"></h6>
												</div>
											</div>

											<div class="form-group row">
												<label for="slug" class="col-12 col-form-label">Name</label>
												<div class="col-12">
													<input th:field = *{name} id="name" name="text"
														class="form-control" type="text">
													<h6 th:errors = "*{name}"></h6>
												</div>
											</div>
											<div class="row">
												<div class="col-12">
													<button th:if = "${categoryForm.id} == null" th:formaction = "@{/tco-admin/category/submit}"  class="btn btn-primary">Submit</button>
													<button th:if = "${categoryForm.id} == null" th:formaction="@{/tco-admin/category}"  class="btn btn-primary">Reset</button>
													<button th:if = "${categoryForm.id} != null" th:formaction="@{|/tco-admin/category/update/${categoryForm.id}|}"  class="btn btn-primary">Update</button>
												</div>
												
											</div>
										</div>
									</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-8 col-lg-12">
						<div class="ec-cat-list card card-default">
							<div class="card-body">
									<table class="table">
										<thead>
											<tr>
												<th>Icon</th>
												<th>ID</th>
												<th>Name</th>
												<th>Sub Categories</th>
												<th>Action</th>
											</tr>
										</thead>

										<tbody>
											<tr th:each="category : ${categories}">
												<td><img class="cat-thumb"
													th:src="@{|/images/category/${category.icon}|}"/></td>
												<td>[[${category.id}]]</td>
												<td>[[${category.name}]]</td>
												<th:block>
												<td th:if="${#lists.size(category.subcategories)} > 0">
													<span
														class="ec-sub-cat-count" title="Total Sub Categories" th:text="${#lists.size(category.subcategories)}"></span>
													<span
													class="ec-sub-cat-list">
														<span th:each="subcategory : ${category.subcategories}" class="ec-sub-cat-tag">[[${subcategory.name}]]</span>
												</span>
												</td>
												
												<td th:if="${#lists.size(category.subcategories)} == 0">
													<span class="ec-sub-cat-list"> <span
														class="ec-sub-cat-count" title="Total Sub Categories">0</span>
												</span>
												</td>
												<td>
													<div class="btn-group">
														<button type="button" class="btn btn-outline-success">Chi tiết</button>
														<button type="button"
															class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
															data-bs-toggle="dropdown" aria-haspopup="true"
															aria-expanded="false" data-display="static">
															<span class="sr-only">Info</span>
														</button>

														<div class="dropdown-menu">
															<a class="dropdown-item" th:href = "@{|/tco-admin/category/${category.id}|}">Edit</a> <a
																class="dropdown-item" th:href="@{|/tco-admin/category/delete/${category.id}|}">Delete</a>
														</div>
													</div>
												</td>
											</tr>

										</tbody>
									</table>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Content -->
		</div>
		<!-- End Content Wrapper -->
	</main>
</body>
</html>