
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{tco-admin/layout-admin/index :: dynamic(~{::main})}">
<body>
<main ng-app="user-management-app" ng-controller="user-management-ctrl">

<!-- CONTENT WRAPPER -->
<div class="ec-content-wrapper">
	<div class="content">
		<div class="breadcrumb-wrapper breadcrumb-contacts">
			<div>
				<h1>Thêm người dùng</h1>
				<p class="breadcrumbs"><span><a href="/admin">Trang chủ</a></span>
					<span><i class="mdi mdi-chevron-right"></i></span>Thêm người dùng
				</p>
			</div>
			<div>
				<a th:href="@{/tco-admin/user/list}" class="btn btn-primary">Danh sách người dùng</a>
			</div>
		</div>
		<div class="card bg-white profile-content">
			<div class="row">
				

				<div class="col-lg-11 col-xl-12   ">
					<div class="profile-content-right profile-right-spacing py-5">
						<ul class="nav nav-tabs px-3 px-xl-5 nav-style-border" id="myProfileTab" role="tablist">
							
							<li class="nav-item" role="presentation">
								<button class="nav-link active" id="settings-tab" data-bs-toggle="tab"
									data-bs-target="#settings" type="button" role="tab"
									aria-controls="settings" aria-selected="false">Add User</button>
							</li>
						</ul>
						<div class="tab-content px-3 px-xl-5" id="myTabContent">

							

							<div class="tab-pane fade show active" id="settings" role="tabpanel"
								aria-labelledby="settings-tab">
								<div class="tab-pane-content mt-5">
									<label class="error-mess" th:if="${addUserMessage} != null">[[${addUserMessage}]]</label>
									<form th:action="@{/tco-admin/user/add}" enctype="multipart/form-data" method="post" th:object="${user}">
										<div class="form-group row mb-6">
											<div class="row ec-vendor-uploads">
												<div class="ec-vendor-img-upload">
													<div class="ec-vendor-main-img">
													
														<div class="avatar-upload">
														<div class="avatar-edit">
															<input type='file' name="userAvatar" id="imageUpload" class="ec-image-upload"
																accept=".png, .jpg, .jpeg" onchange="angular.element(this).scope().imageChanged(this.files)"/>
															<label for="imageUpload"><img th:src="@{/assets-admin/img/icons/edit.svg}"
																	class="svg_img header_svg" alt="edit" /></label>
														</div>
														<div class="avatar-preview ec-preview">
															<div class="imagePreview ec-div-preview">
																<img class="ec-image-preview"
																	th:src="@{/images/user/avatar.png}"
																	alt="Chọn ảnh đại diện" style="width: 20%"/>
															</div>
														</div>
													</div>
													</div>
												</div>
											</div>
										</div>

										<div class="row mb-2">
											<div class="col-lg-6">
												<div class="form-group">
													<label for="fullName">Họ và Tên</label>
													<input th:field="*{fullname}" type="text" class="form-control" id="fullName"
														placeholder="Họ và Tên">
													
												</div>
											</div>

										</div>

										<div class="form-group mb-4">
											<label for="userName">Tên tài khoản <span style="color: red;">*</span></label> <br>
											<label class="error-mess" th:errors="*{username}"></label>
											<input th:field="*{username}" type="text" class="form-control" id="userName"
												placeholder="Tên tài khoản">
										</div>

										<div class="form-group mb-4">
											<label for="email">Email <span style="color: red;">*</span></label> <br>
											<label class="error-mess" th:if="${emailError} != null">[[${emailError}]]</label>
											<input th:field="*{email}" type="email" class="form-control" id="email"
												placeholder="tco-member@gmail.com">
										</div>

									

										<div class="form-group mb-4">
											<label for="newPassword">Mật khẩu <span style="color: red;">*</span></label> <br>
											<label class="error-mess" th:errors="*{password}"></label>
											<label class="error-mess" th:if="${passwordError} != null">[[${passwordError}]]</label>
											<input th:field="*{password}" type="password" class="form-control" id="newPassword">
										</div>

										<div class="form-group mb-4">
											<label for="conPassword"> Xác nhận mật khẩu <span style="color: red;">*</span></label> <br>
											<label class="error-mess" th:if="${confirmPasswordError} != null">[[${confirmPasswordError}]]</label>
											<input name="confirmPassword" type="password" class="form-control" id="conPassword">
										</div>

											
										<div class="form-group mb-4">
											<label> Vai trò <span style="color: red;">*</span></label>
											<label th:errors="*{role}"></label>	 <br>	
											<select class="form-control" th:field="*{role.id}">
												<option th:each="role : ${roles}" th:value="${role.id}">[[${role.name}]]</option>
											</select>			
										</div>
										
										<div class="form-group mb-4">											
											<label for=""> Trạng thái tài khoản <span style="color: red;">*</span></label> <br>
											<label class="error-mess" th:errors="*{status}"></label> <br>
											<input name="userStatus" id="activeStatus" type="radio" th:field="*{status}" th:value="true">
											<label for="activeStatus">Hoạt động</label>
											<input name="userStatus" id="inactiveStatus" type="radio" th:field="*{status}" th:value="false">
											<label for="inactiveStatus">Không hoạt động</label> 
										</div>

										<div class="form-group md-4">
											<label class="form-label">Mô tả</label>
											<textarea rows="4" class="form-control" th:field="*{introduce}"></textarea>
										</div>

										<div class="d-flex justify-content-end mt-5">
											<button type="submit"
												class="btn btn-primary mb-2 btn-pill">Tạo người dùng</button>
										</div>
									</form>
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div> <!-- End Content -->
</div> <!-- End Content Wrapper -->


</main>   
</body>
</html>