
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{tco-admin/layout-admin/index :: dynamic(~{::main})}">
<body>
<main>


<!-- CONTENT WRAPPER -->
<div class="ec-content-wrapper ec-ec-content-wrapper mb-m-24px">
	<div class="content">
		<div class="breadcrumb-wrapper breadcrumb-contacts">
			<div>
				<h1>Thẻ tài khoản</h1>
				<p class="breadcrumbs"><span><a href="/admin">Thống kê</a></span>
					<span><i class="mdi mdi-chevron-right"></i></span>Tài khoản
				</p>
			</div>
			
		</div>

		<div class="row">
			<div class="col-lg-6 col-xl-4 mb-24px" th:each="user: ${users}">
				
				<div class="ec-user-card card card-default p-4">
					
					<a href="javascript:0" class="media text-secondary">
						<img th:src="@{|/images/user/${user.avatar}|}" class="mr-3 img-fluid" alt="Avatar Image">

						<div class="media-body">
							<h5 class="mt-0 mb-2 text-dark">[[${user.username}]]</h5>

							<ul class="list-unstyled">
								<li class="d-flex mb-1">
									<i class="mdi mdi-email mr-1"></i>
									<span><span class="__cf_email__" data-cfemail="7f1a07121e0f131a3f1a121e1613511c1012">[[${user.email}]]</span></span>
								</li>
								<li class="d-flex mb-1">
									<i class="mdi mdi-phone mr-1"></i>
									<span>[[${user.status} ? 'Đã kích hoạt' : 'Chưa kích hoạt']]</span>
								</li>
							</ul>
						</div>
					</a>
				</div>
			</div>

			

			

			

			

		

		<!-- Add Contact Button  -->
		<div class="modal fade modal-add-contact" id="modal-add-contact" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<form>
						<div class="modal-header px-4">
							<h5 class="modal-title" id="exampleModalCenterTitle">Add New User</h5>
						</div>

						<div class="modal-body px-4">
							<div class="form-group row mb-6">
								<label for="coverImage" class="col-sm-4 col-lg-2 col-form-label">User
									Image</label>

								<div class="col-sm-8 col-lg-10">
									<div class="custom-file mb-1">
										<input type="file" class="custom-file-input" id="coverImage"
											required>
										<label class="custom-file-label" for="coverImage">Choose
											file...</label>
										<div class="invalid-feedback">Example invalid custom file feedback
										</div>
									</div>
								</div>
							</div>

							<div class="row mb-2">
								<div class="col-lg-6">
									<div class="form-group">
										<label for="firstName">First name</label>
										<input type="text" class="form-control" id="firstName" value="John">
									</div>
								</div>

								<div class="col-lg-6">
									<div class="form-group">
										<label for="lastName">Last name</label>
										<input type="text" class="form-control" id="lastName" value="Deo">
									</div>
								</div>

								<div class="col-lg-6">
									<div class="form-group mb-4">
										<label for="userName">User name</label>
										<input type="text" class="form-control" id="userName"
											value="johndoe">
									</div>
								</div>

								<div class="col-lg-6">
									<div class="form-group mb-4">
										<label for="email">Email</label>
										<input type="email" class="form-control" id="email"
											value="johnexample@gmail.com">
									</div>
								</div>

								<div class="col-lg-6">
									<div class="form-group mb-4">
										<label for="Birthday">Birthday</label>
										<input type="text" class="form-control" id="Birthday"
											value="10-12-1991">
									</div>
								</div>

								<div class="col-lg-6">
									<div class="form-group mb-4">
										<label for="event">Address</label>
										<input type="text" class="form-control" id="event"
											value="Address here">
									</div>
								</div>
							</div>
						</div>

						<div class="modal-footer px-4">
							<button type="button" class="btn btn-secondary btn-pill"
								data-bs-dismiss="modal">Cancel</button>
							<button type="button" class="btn btn-primary btn-pill">Save Contact</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div> <!-- End Content -->
</div> <!-- End Content Wrapper -->

</main>   
</body>
</html>