
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{tco-admin/layout-admin/index :: dynamic(~{::main})}">
<body>
<main ng-app="user-list-app" ng-controller="user-list-ctrl">

<!-- CONTENT WRAPPER -->
<div class="ec-content-wrapper">
	<div class="content">
		<div class="breadcrumb-wrapper breadcrumb-contacts">
			<div>
				<h1>Danh Sách Người Dùng</h1>
				<p class="breadcrumbs"><span><a href="/admin">Thống kế</a></span>
					<span><i class="mdi mdi-chevron-right"></i></span>Tài khoản
				</p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-12">
				
				<form action="" class="search-bar">
					<input type="search" name="search" pattern=".*\S.*" required ng-model="account">
					<button class="search-btn" type="submit">
						<span>Search</span>
					</button>
				</form>
				<div class="ec-vendor-list card card-default">
					<div class="card-body">
						<div class="table-responsive">
							<table  class="table">
								<thead>
									<tr>
										<th>Profile</th>
										<th>Name</th>
										<th>Email</th>
										<th>Password</th>
										<th>FullName</th>
										<th>Status</th>
										<th>Action</th>
									</tr>
								</thead>

								<tbody>
									<tr ng-repeat="user in users | filter: account">
										<td><img class="vendor-thumb" ng-src="/images/user/{{user.avatar}}" alt="user profile" /></td>
										<td>{{user.username}}</td>
										<td><a href="https://loopinfosol.in/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="adc0ccdfc1c8c8dfc8c3ccedcac0ccc4c183cec2c0">{{user.email}}</a></td>
										<td>{{user.password}}</td>
										<td>{{user.fullname}}</td>
										<td>{{user.status ? 'Đã kích hoạt' : 'Chưa kích hoạt'}}</td>
										<td>
											<div class="btn-group mb-1">
												
												<!-- <button type="button"
													class="btn btn-outline-success">Info</button> -->
												<a type="button"
													class="btn btn-outline-success" th:href="@{|/tco-admin/user/{{user.username}}|}">Thông tin</a>
												
												<button type="button"
													class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
													data-bs-toggle="dropdown" aria-haspopup="true"
													aria-expanded="false" data-display="static">
													<span class="sr-only">
														Info
													</span>
												</button>

												<div class="dropdown-menu">
													<a class="dropdown-item" th:href="@{|/tco-admin/userEdit/{{user.username}}|}">Sửa</a>
													<a class="dropdown-item">Xóa</a>
												</div>
											</div>
										</td>
									</tr>
									

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div> <!-- End Content -->
</div> <!-- End Content Wrapper -->


</main>   
</body>
</html>