<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{tco-admin/layout-admin/index :: dynamic(~{::main})}">
<body>
<main ng-app="product-app" ng-controller="product-ctrl">
<!--CONTENT WRAPPER -->
			<div class="ec-content-wrapper">
				<div class="content">
					<div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
						<div>
							<h1>Sản phẩm</h1>
							<p class="breadcrumbs"><span><a href="/admin">Thống kê</a></span>
								<span><i class="mdi mdi-chevron-right"></i></span>Sản phẩm
							</p>
						</div>
						<div>
							<a href="product-list.html" class="btn btn-primary"> Thêm mới sản phẩm</a>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="card card-default">
								<div class="card-header card-header-border-bottom d-flex justify-content-between">
									<div class="card-bar">
										<div class="col-lg-6 col-md-12">
											<input type="text" class="form-control" id="searchProduct"
												placeholder="Tìm kiếm" ng-model="product">
										</div>
										<div class="col-lg-6 col-md-12 sort">
											<div class="col-lg-4 col-md-6 p-space">
												<select class="form-control" id="dropdownCategory">
													<option value="all" selected>Tất cả</option>
													<option th:each = "category: ${categories}" th:value = "${category.id}">[[${category.name}]]</option>
												</select>
											</div>
											<div class="col-lg-4 col-md-6 p-space">
												<select class="form-control" id="dropdownOrderBy">
													<option value="ALL">ORDER BY</option>
													<option value="MEN">Letest</option>
													<option value="WOMAN">Price Low - High</option>
													<option value="KID">Price High - Low</option>
													<option value="OTHER">OTHER</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="card-body" >
									<div class="row" >
										<div class="col-lg-3 col-md-4 col-sm-6" ng-repeat = "item in pager.items | filter: product">
											<div class="card-wrapper">
												<div class="card-container" >
													<div class="card-top">
														<img class="card-image" th:src="@{/images/products/{{item.image1}}}"
															alt="" />
													</div>
													<div class="card-bottom">
														<h3>{{item.name}}</h3>
														<p>{{item.price | number:2}}</p>
													</div>
													<div class="card-action">
														<div class="card-edit">
														<a th:href="@{|/tco-admin/product/{{item.id}}|}">
														<i class="mdi mdi-circle-edit-outline"></i></a></div>
														<div class="card-preview">
														<a th:href="@{|/tco-admin/product/detail/{{item.id}}|}" type="button">
														<i  class="mdi mdi-eye-outline"></i></a>
														</div>
														<div class="card-remove">
														<button ng-click="delete(item)"><i class="mdi mdi mdi-delete-outline"></i></button></div>
													</div>
												</div>
											</div>
										</div>
										
										</div>
									</div>
									<div class="row">
										<nav aria-label="Page navigation example p-0">
										<!--  
											<ul class="pagination pagination-seperated pagination-seperated-rounded">
												<li class="page-item">
													<a class="page-link" href="#" aria-label="Previous">
														<span aria-hidden="true"
															class="mdi mdi-chevron-left mr-1"></span> Prev
														<span class="sr-only">Previous</span>
													</a>
												</li>

												<li class="page-item active">
													<a class="page-link" href="#">1</a>
												</li>

												<li class="page-item">
													<a class="page-link" href="#">2</a>
												</li>

												<li class="page-item">
													<a class="page-link" href="#">3</a>
												</li>

												<li class="page-item">
													<a class="page-link" href="#" aria-label="Next">
														Next
														<span aria-hidden="true"
															class="mdi mdi-chevron-right ml-1"></span>
														<span class="sr-only">Next</span>
													</a>
												</li>
											</ul>
											-->
											<div class="panel-footer text-center">
										<button ng-click="pager.first()" class="btn btn-danger">
											<b class="glyphicon glyphicon-hand-up"></b>
										</button>
										<button ng-click="pager.prev()" class="btn btn-primary">
											<b class="glyphicon glyphicon-hand-left"></b>
										</button>
										<button class="btn btn-success">{{pager.page + 1}} of
											{{pager.count}}</button>
										<button ng-click="pager.next()" class="btn btn-primary">
											<b class="glyphicon glyphicon-hand-right"></b>
										</button>
										<button ng-click="pager.last()" class="btn btn-danger">
											<b class="glyphicon glyphicon-hand-down"></b>
										</button>
									</div>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			
			
		
	</main>
	</body>
</html>