<div xmlns:th="http://www.thymeleaf.org">

	<div class="footer-container">
		<div class="footer-top section-space-footer-p">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-lg-4 ec-footer-contact">
						<div class="ec-footer-widget">
							<div class="ec-footer-logo">
								<a href="#"><img src="assets/images/logo/logo-5.png"
									alt=""><img class="dark-footer-logo"
									src="assets/images/logo/dark-logo-5.png" alt="Site Logo"
									style="display: none;" /></a>
							</div>
							<p>Model Reverside thế giới mô hình 
								.</p>
							<h4 class="ec-footer-heading">Đặt câu hỏi cho Tôi</h4>
							<div class="ec-footer-links">
								<ul class="align-items-center">
									<li class="ec-footer-link"><span class="call-img"><img
											src="assets/images/icons/call_5.svg" class="svg_img foo_img"
											alt="" /></span> <span class="call-desc"> <span>Bạn
												có thắc mắc? Gọi cho chúng tôi 24/7!</span> <span><a
												href="tel:+80080018588">(800) 8001-8588</a>, <a
												href="tel:+0600874548">(0600) 874 548</a></span>
									</span></li>
								</ul>
							</div>
						</div>
						<div class="ec-footer-widget ec-footer-social">
							<h4 class="ec-footer-heading">Theo dõi chúng tôi</h4>
							<div class="ec-footer-links">
								<ul class="align-items-center">
									<li class="list-inline-item"><a href="#"><i
											class="ecicon eci-facebook"></i></a></li>
									<li class="list-inline-item"><a href="#"><i
											class="ecicon eci-instagram"></i></a></li>
									<li class="list-inline-item"><a href="#"><i
											class="ecicon eci-linkedin"></i></a></li>
									<li class="list-inline-item"><a href="#"><i
											class="ecicon eci-twitter"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-lg-2 ec-footer-info">
						<div class="ec-footer-widget">
							<h4 class="ec-footer-heading">Thông tin</h4>
							<div class="ec-footer-links">
								<ul class="align-items-center">
									<li class="ec-footer-link"><a href="#">Về
											chúng tôi</a></li>
									<li class="ec-footer-link"><a href="#">Thông
											tin giao hàng</a></li>
									<li class="ec-footer-link"><a href="#">Chính
											sách & chính sách</a></li>
									<li class="ec-footer-link"><a href="#">Điều
											khoản &điều kiện</a></li>
									<li class="ec-footer-link"><a href="#">Liên
											hệ với chúng tôi</a></li>
									<li class="ec-footer-link"><a href="#">Trở lại</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-lg-2 ec-footer-account">
						<div class="ec-footer-widget">
							<h4 class="ec-footer-heading">Dịch vụ chăm sóc khách hàng</h4>
							<div class="ec-footer-links">
								<ul class="align-items-center">
									<li class="ec-footer-link"><a href="#">Sơ đồ trang web</a></li>
									<li class="ec-footer-link"><a href="#">Danh
											sách yêu thích</a></li>
									<li class="ec-footer-link"><a href="#">Thương hiệu</a></li>
									<li class="ec-footer-link"><a href="#">Phiếu
											quà tặng</a></li>
									<li class="ec-footer-link"><a href="#">Liên kết</a></li>
									<li class="ec-footer-link"><a href="#">Đặc
											biệt</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-lg-4 ec-footer-news">
						<div class="ec-footer-widget">
							<h4 class="ec-footer-heading">Tin tức</h4>
							<div class="ec-footer-links">
								<ul class="align-items-center">
									<li class="ec-footer-link">Đăng ký e-mail của chúng tôi để
										nhận tin tức mới nhất.</li>
								</ul>
								<div class="ec-subscribe-form">
									<form id="ec-newsletter-form" name="ec-newsletter-form"
										method="post" action="#">
										<div id="ec_news_signup" class="ec-form">
											<input class="ec-email" type="email" required=""
												placeholder="Enter your email" name="ec-email" value="" />
											<button id="ec-news-btn" class="button btn-primary"
												type="submit" name="subscribe" value="">Đăng ký</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="ec-footer-widget ec-share">
							<ul>
								<li class="ec-share-link"><a href="#"><img
										src="assets/images/icons/iphone.png" alt="" /></a></li>
								<li class="ec-share-link"><a href="#"><img
										src="assets/images/icons/google.png" alt="" /></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="row align-items-center">
					<!-- Footer Copyright Start -->
					<div class="col footer-copy">
						<div class="footer-bottom-copy ">
							<div class="ec-copy">
								© 2021 <a class="site-name" href="#">Model Reverside</a>. Đã đăng ký
								Bản quyền
							</div>
						</div>
					</div>
					<!-- Footer Copyright End -->
					<!-- Footer payment -->
					<div class="col footer-bottom-right">
						<div class="footer-bottom-payment d-flex justify-content-end">
							<div class="payment-link">
								<img src="assets/images/icons/payment.png" alt="">
							</div>

						</div>
					</div>
					<!-- Footer payment -->
				</div>
			</div>
		</div>
	</div>

</div>